/* Block new products */
#new-products_block_right {
    margin: 0 20px 15px 1px;
}

#new-products_block_right ul {list-style-type:none;}
#new-products_block_right li {
/*	float:left;
	margin-right:20px;
	padding:10px 0;*/
        
/*        width: 156px;*/
        background: #fff;
        padding: 0 10px;
        border-radius: 3px;
        overflow: hidden;
        height: 330px;
        padding-top: 10px;
        margin-bottom: 5px;
        margin-top: 5px;
        border: 1px solid #EEE1D9;
/*        margin-right: 15px;*/
        
}
#new-products_block_right li.first {
/*    margin-left:30px;*/
}

#new-products_block_right dl {
	list-style-type:none;
}
#new-products_block_right dt {
	padding:10px 0 0 0;
	font-weight:bold;
	font-size:12px;
	color:#333;
}
#new-products_block_right dd,
#new-products_block_right dd a {
	color:#666;
}
#new-products_block_right dd {
	padding:0 0 10px 0;
	border-bottom:1px dotted #ccc;

}
#new-products_block_right dd.last_item {border:none;}
#new-products_block_right dd a.lnk_more {
	padding-right: 10px;
	font-weight:bold;
	color:#0088cc;
	background:url(img/arrow_right_1.png) no-repeat 100% 4px;
}

#new-products_block_right p {
	padding:0;
	text-align:right;
}

#new-products_block_right p.title_block, #new-products_block_right h4  {
	padding:6px 11px;
	text-align:left;
}
#new-products_block_right .button_large {
	padding:0;
	border:none;
	background:none;
	color:#333;
}
#new-products_block_right .button_large:hover {text-decoration:underline}

#new-products_block_right .block_content {
/*    background: #fff;
    padding: 5px;*/
    margin: 0;
}

#new-products_block_right .block_content h5{
    padding-top: 5px;
    height: 30px;
    font-size: 12px;
    color: #c4c4c4;
    padding-bottom: 0;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

#new-products_block_right .block_content .lnk_more {
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-decoration: none!important;
    cursor: pointer;
    display: block;
    margin: 0 16px;
    padding: 0;
    height: 24px;
    line-height: 23px;
    border: 1px solid;
    background: #e64a47;
    border-radius: 4px;
    font-size: 80%;
}

#new-products_block_right .block_content .lnk_more:hover {
    background: #eb5552;
}

#new-products_block_right .price_container {
    padding: 0;
    text-align: center;
    margin: 17px 0;
    
    font-weight: bold;
    font-size: 14px;
    color: #4c4c4c;
}

#new-products_block_right .product_images a {
    text-align: center;
}

#new-products_block_right .block_contents .lnk_more:hover {
    background: #eb5552;
}